.course-box {
    border: 2px solid grey;
    margin: 10px;
    padding: 9px;
    border-radius: 8px;
}

.course-box h2 {
    font-size: 20px;
    font-weight: bold;
}

.course-box p {
    color: grey;
}

.heading {
    font-size: 55px;
    text-align: center;
}

.enroll-button {
    border: 1px solid white;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

.enroll-button:hover {
    border: 2px solid blue;
    color: blue;
    background-color: transparent;
}
