.tabContainer {
    margin: 10px;
    padding: 10px;
  }
  .tab-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 19px;
    font-weight: bold;
    color: #7b8794;
    text-decoration: underline;
  }
  .tab{
    margin: 2px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 4px gray;
  }
  .tab h3{
    text-align: center;
    font-weight: 600;
  }
  .tab-button{
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: aliceblue;
    padding: 3px 6px;
  }
    .tab-button:hover{
      background-color: blue;
      color:white;
    }